<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/datatable/custom.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
    <link rel="icon"
          th:href="@{assets/favicon.ico}" />
    <title>Applications</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">HPC Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/index}">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/application}">Applications <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/benchmark}">Benchmarks</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/cpu}">CPU</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/result}">Result Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/dashboard}">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/charts}">Charts</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5 mb-5">
            <table id="ajax" class="table table-bordered table-responsive" style="width: 100%">
                <thead>
                <tr>
                    <th>App name</th>
                    <th>App version</th>
                    <th>Precision</th>
                    <th>Binary</th>
                    <th>Compiler</th>
                    <th>Compiler flags</th>
                    <th>Library</th>
                    <th>Library version</th>
                    <th>Library flags</th>
                    <th>AVX2</th>
                    <th>AVX512</th>
                    <th>Licence exp</th>
                    <th>Lib fftw</th>
                    <th>Lib dgemm</th>
                    <th>Lib blas</th>
                    <th>App bound</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script th:src="@{assets/datatable/datatables.js}"></script>

<script>
     $('#ajax').removeAttr('width').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/applicationAjax",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                return JSON.stringify(d);
            }
        },
        "columns": [
            {"data": "app_name", width: 200, targets: 0},
            {"data": "app_verion",width: 100, targets: 1},
            {"data": "precision_info", width: 100, targets: 2},
            {"data": "binary_info", width: 100, targets: 3},
            {"data": "comp_name", width: 100, targets: 4},
            {"data": "comp_flags", width: 50, targets: 5},
            {"data": "lib_name", width: 50, targets: 6},
            {"data": "lib_ver", width: 50, targets: 7},
            {"data": "lib_flags", width: 50, targets: 8},
            {"data": "avx2_accel",width: 50, targets: 9},
            {"data": "avx512_accel", width: 50, targets: 10},
            {"data": "lic_exp", width: 50, targets: 11},
            {"data": "lib_fftw", width: 50, targets: 12},
            {"data": "lib_dgemm", width: 50, targets: 13},
            {"data": "lib_blas", width: 50, targets: 14},
            {"data": "app_bound", width: 50, targets: 15}
        ]
        ,fixedColumns: true
    });
</script>

</body>
</html>