<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/custom/data.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/custom/custom.css}"/>
    <link rel="icon" th:href="@{assets/favicon.ico}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

    <title>Charts</title>
    <style>


    </style>

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container-fluid" style="max-width:1300px">
        <a class="navbar-brand" href="/index"><i class="fas fa-home"></i> HPC Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/application}">Applications</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/benchmark}">Benchmarks</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/cpu}">CPU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/result}">Result Form <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/dashboard}">Dashboard</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/data}">Data</a>
                </li>

                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Charts</a>
                    <div class="dropdown-menu dropdown-content" style="background-color: #343A40;">
                        <a class="dropdown-item" href="#" th:href="@{/charts}" >Single CPU Charts </a>
                        <a class="dropdown-item" href="#" th:href="@{/mChart}" >Multi CPU Charts</a>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<div class="container-fluid" style="max-width:1300px">
    <div class="row" >
        <div class="col-sm-1 dropdown">
            <select class="form-control form-control-sm" id="cpuDrop" name="cpuDrop">
                <option value="" selected="true" disabled="disabled">CPU</option>
                <option th:each="cpu : ${cpus}"
                        th:value="${cpu}"
                        th:text="${cpu}"></option>
            </select>
        </div>

    </div>


    <div class="row" style="margin-top: 16px;">
        <div id="app" class="col-sm-2 dropdown" style='display:none;'>
            <select class="form-control form-control-sm" id="appDrop" name="appDrop">
                <option value="" selected="true" disabled="disabled">App</option>
                <option th:each="app : ${apps}"
                        th:value="${app}"
                        th:text="${app}"></option>
            </select>
        </div>

    </div>

    <div id="radio" class="form-group" style="margin-top: 16px; display:none;" >
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="option1" name="option" class="custom-control-input" value="node">
            <label class="custom-control-label" for="option1">Single Node</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="option2" name="option" class="custom-control-input" value="bench">
            <label class="custom-control-label" for="option2">Benchmark</label>
        </div>
    </div>

    <div class="row" style="margin-top: 0px;">
        <div id="bm" class="col-sm-2 dropdown" style='display:none;'>
            <select class="form-control form-control-sm" id="bmDrop" name="bmDrop">
                <option selected="true" disabled="disabled">Benchmark</option>
            </select>
        </div>
    </div>

</div>

<div class="container-fluid" style="max-width:1300px; overflow-x:auto;">

    <div class="row">

        <div id="nodeChart" class="col-md-6 mt-2 mb-2" style='display:none;'>
            <canvas id="nodeBarChart" width="450" height="300" role="img"></canvas>
        </div>
        <div id="bmChart" class="col-md-6 mt-2 mb-2" style='display:none;'>
            <canvas id="bmBarChart" width="450" height="300" role="img"></canvas>
        </div>
    </div>
</div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{assets/chartjs/Chart.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{assets/chartjs/Chart.bundle.js}"></script>
<!--<script type="text/javascript" th:src="@{assets/chartjs/Chart.min.js}"></script>-->
<script type="text/javascript" th:src="@{assets/chartjs/customCharts.js}"></script>

<script>



</script>

</body>
</html>