<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/datatable/custom.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
    <link rel="icon"
          th:href="@{assets/favicon.ico}" />
    <title>CPU</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container-fluid" style="max-width:1225px">
        <a class="navbar-brand" href="/">HPC Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/index}">Home</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/application}">Applications</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/benchmark}">Benchmarks</a>
                </li>

                <li class="nav-item active ">
                    <a class="nav-link" href="#" th:href="@{/cpu}">CPU <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/result}">Result Form</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/dashboard}">Dashboard </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/charts}">Charts</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="max-width:1225px">
    <div class="row">
        <div class="col-lg-12 mt-5 mb-5">
            <table id="ajax" class="table table-bordered table-responsive " style="width: 100%">
                <thead>
                <tr>
                    <th>Manufacturer</th>
                    <th>Generation</th>
                    <th>SKU</th>
                    <th>TDP</th>
                    <th>Cores</th>
                    <th>Base Freq</th>
                    <th>Peak Freq</th>
                    <th>L3 cache</th>
                    <th>DDR channels</th>
                    <th>DDR Freq</th>
                </tr>
                </thead>
            </table>
            <br>
            <p style="font-size:12px;text-align:right;font-family:verdana;">*8 channel and 3200 capable,  Performance Optimized to 4 channels @ 2666</p>
        </div>
    </div>
</div>


<script type="text/javascript"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script th:src="@{assets/datatable/datatables.js}"></script>

<script>
    $('#ajax').removeAttr('width').DataTable({
        scrollY: "380px",
        scrollX: true,
        scrollCollapse: true,
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/cpuAjax",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                return JSON.stringify(d);
            }
        },
       "columns": [
            {"data": "cpu_manufacturer", width: 110, targets: 0},
            {"data": "cpu_generation",width: 80, targets: 1},
            {"data": "cpu_sku", width: 60, targets: 2},
            {"data": "tdp", width: 50, targets: 3},
            {"data": "cores", width: 40, targets: 4},
            {"data": "base_freq", width: 120, targets: 5},
            {"data": "peak_freq", width: 120, targets: 6},
            {"data": "l3_cache", width: 120, targets: 7},
            {"data": "ddr_channels", width: 160, targets: 8},
            {"data": "max_ddr_freq", width: 120, targets: 9}

        ]
        ,fixedColumns: true
    });
</script>

</body>
</html>