<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/datatable/custom.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
    <link rel="icon"
          th:href="@{assets/favicon.ico}" />
    <title>HPC Results Dashboard</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container-fluid" style="max-width:1225px">
        <a class="navbar-brand" href="/">HPC Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/index}">Home</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/application}">Applications</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/benchmark}">Benchmarks</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/cpu}">CPU</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/result}">Result Form</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/dashboard}">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/charts}">Charts</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>


<div class="container-fluid" style="max-width:1225px">
    <div class="row">

        <div id="app" class="col-sm-2">
            <select class="form-control form-control-sm" id="appDrop" name="appDrop">
                <option value="">--App--</option>
                <option th:each="app : ${apps}"
                        th:value="${app}"
                        th:text="${app}"></option>
            </select>
        </div>


        <div id="bm" class="col-sm-2" style='display:none;'>
            <select class="form-control form-control-sm" id="bmDrop" name="bmDrop">
                <option value="">--Benchmark--</option>
            </select>
        </div>

        <div id="node" class="col-sm-2">
            <select class="form-control form-control-sm" id="nodeDrop" name="nodeDrop">
                <option value="">--Node count--</option>
                <option th:each="node : ${nodes}"
                        th:value="${node}"
                        th:text="${node}"></option>
            </select>
        </div>


        <div id="cpu" class="col-sm-2">
            <select class="form-control form-control-sm" id="cpuDrop" name="cpuDrop">
                <option value="">--CPU--</option>
                <option th:each="cpu : ${cpus}"
                        th:value="${cpu}"
                        th:text="${cpu}"></option>
            </select>
        </div>

        <div class="col-lg-12 mt-4 mb-4 table-responsive">
            <table id="ajax" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>Job Id</th>
                    <th>Application</th>
                    <th>Benchmark</th>
                    <th>Node count</th>
                    <th>Cores</th>
                    <th>Node</th>
                    <th>Result</th>
                    <th>CPU</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script th:src="@{assets/datatable/datatables.js}"></script>
<script type="text/javascript" th:src="@{assets/custom/dashboard.js}"></script>

</body>
</html>