<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
    <link rel="icon"
          th:href="@{assets/favicon.ico}" />
    <link th:rel="stylesheet" th:href="@{assets/custom/custom.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/custom/data.css}"/>
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <title>HPC Results Dashboard</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container-fluid" style="max-width:1450px">
        <a class="navbar-brand" href="/index"><i class="fas fa-home"></i> HPC Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/application}">Applications</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/benchmark}">Benchmarks</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/cpu}">CPU</a>
                </li>

                <li class="nav-item"  th:if="${#httpServletRequest.isUserInRole('ROLE_TEAM')}">
                    <a class="nav-link" href="#" th:href="@{/result}">Result Form</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/dashboard}">Dashboard <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data</a>
                    <div class="dropdown-menu dropdown-content" style="background-color: #343A40;">
                        <a class="dropdown-item" href="#" th:href="@{/data}" >Single CPU Data </a>
                        <a class="dropdown-item" href="#" th:href="@{/part-comparision}" >2 Part Comparision</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Charts</a>
                    <div class="dropdown-menu dropdown-content" style="background-color: #343A40;">
                        <a class="dropdown-item" href="#" th:href="@{/charts}" >Single CPU Charts </a>
                        <a class="dropdown-item" href="#" th:href="@{/mChart}" >Multi CPU Charts</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top:5px">


    <div class="row">

        <div class="col-custom-1">

        </div>
        <div class="col-custom-2" style="margin-top:22px">

            <div id="app" class="dropdown">
                <select class="form-control form-control-sm" id="appDrop" name="appDrop">
                    <option  selected="true" disabled="disabled">-- App --</option>
<!--                    <option>     </option>-->
                    <option th:each="app : ${apps}"
                            th:value="${app}"
                            th:text="${app}"></option>
                </select>
            </div>
            <br>
            <div id="bm" class="dropdown">
                <select class="form-control form-control-sm" id="bmDrop" name="bmDrop">
                    <option selected="true" disabled="disabled">-- Benchmark --</option>
                </select>
            </div>
            <br>
            <div id="node" class="dropdown">
                <select class="form-control form-control-sm" id="nodeDrop" name="nodeDrop">
                    <option selected="true" disabled="disabled">-- Node count --</option>
                    <option th:each="node : ${nodes}"
                            th:value="${node}"
                            th:text="${node}"></option>
                </select>
            </div>
            <br>
            <div id="cpu" class="dropdown">
                <select class="form-control form-control-sm" id="cpuDrop" name="cpuDrop">
                    <option selected="true" disabled="disabled">-- CPU --</option>
                    <option th:each="cpu : ${cpus}"
                            th:value="${cpu}"
                            th:text="${cpu}"></option>
                </select>
            </div>
            <br>
            <div id="os" class="dropdown">
                <select class="form-control form-control-sm" id="osDrop" name="cpuDrop">
                    <option selected="true" disabled="disabled">-- OS --</option>
                    <option th:each="o : ${os}"
                            th:value="${o}"
                            th:text="${o}"></option>
                </select>
            </div>
            <br>
            <div id="cluster" class="dropdown">
                <select class="form-control form-control-sm" id="clusterDrop" name="cpuDrop">
                    <option selected="true" disabled="disabled">-- Cluster --</option>
                    <option th:each="cluster : ${clusters}"
                            th:value="${cluster}"
                            th:text="${cluster}"></option>
                </select>
            </div>
            <br>
            <div id="user" class="dropdown" >
                <select class="form-control form-control-sm" id="userDrop" name="cpuDrop">
                    <option selected="true" disabled="disabled">-- User --</option>
                    <option th:each="user : ${users}"
                            th:value="${user}"
                            th:text="${user}"></option>
                </select>
            </div>
            <br>
            <div id="platform" class="dropdown" >
                <select class="form-control form-control-sm" id="platformDrop" name="cpuDrop">
                    <option selected="true" disabled="disabled">-- Platform --</option>
                    <option th:each="platform : ${platforms}"
                            th:value="${platform}"
                            th:text="${platform}"></option>
                </select>
            </div>
            <br>
            <div id="cpuGen" class="dropdown">
                <select class="form-control form-control-sm" id="cpuGenDrop" name="cpuDrop">
                    <option selected="true" disabled="disabled">-- CPU Gen --</option>
                    <option th:each="cpugen : ${cpugens}"
                            th:value="${cpugen}"
                            th:text="${cpugen}"></option>
                </select>
            </div>
            <br>
            <div id="runType" class="dropdown">
                <select class="form-control form-control-sm" id="runTypeDrop" name="cpuDrop">
                    <option selected="true" disabled="disabled">-- Run Type --</option>
                    <option th:each="runtype : ${runtypes}"
                            th:value="${runtype}"
                            th:text="${runtype}"></option>
                </select>
            </div>

            <br>
            <div class="form-inline" style=" margin-left:9px" th:if="${#httpServletRequest.isUserInRole('ROLE_TEAM')}">
                <p style="font-size:14px;"> Add new result &nbsp </p>
                <div class="input-group" style="margin-top:-12px; ">
                              <a th:href="@{/result}"
                                   class="badge badge-pill badge-info"
                                   title="Add new Result"><i
                                        class="fa fa-plus"></i></a>
                </div>
            </div>

            <div class="form-inline" style="margin-left:8px; margin-top:5px" th:if="${#httpServletRequest.isUserInRole('ROLE_TEAM')}">
                <p style="font-size:14px;"> Download excel &nbsp </p>
                <div class="input-group" style="margin-top:-12px;">
                    <a th:href="@{/resultsExcel}"
                       class="badge badge-pill badge-success"
                       title="Export results to Excel"><i
                            class="fas fa-file-excel"></i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-10">
        <div class="col-lg-12 mt-3 mb-3 table-responsive">
            <table id="ajax" class="table table-bordered" style="width: 100%">
                <thead bgcolor="#D3D3D3">
                <tr>
                    <th>Job Id</th>
                    <th>Application</th>
                    <th>Benchmark</th>
                    <th>Node count</th>
                    <th>Cores</th>
                    <th>Node</th>
                    <th>Metric</th>
                    <th>CPU</th>
                    <th>OS</th>
                    <th>BIOS</th>
                    <th>Cluster</th>
                    <th>User</th>
                    <th>Platform</th>
                    <th>CPU gen</th>
                    <th>Run type</th>
                    <th>Setting</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</div>


<script type="text/javascript"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script th:src="@{assets/datatable/datatables.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.spring-friendly.js}"></script>
<script type="text/javascript" th:src="@{assets/custom/dashboard.js}"></script>
</body>
</html>