<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
    <link rel="icon"
          th:href="@{assets/favicon.ico}" />
    <title>Result Form</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">HPC Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/index}">Home</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/application}">Applications</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/benchmark}">Benchmarks</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/cpu}">CPU</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/result}">Result Form  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/dashboard}">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/charts}">Charts</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h3>Result Form</h3>

            <div th:if="${param.success}">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Result is successfully inserted!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div th:if="${param.failure}">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Please provide date in the below format (job_id,app_name,bm_name,nodes,cores,node_name,result,cpu)
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>




            <form action="#" th:action="@{/result}" th:object="${command}" method="post">

                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                    error</p>

                <textarea rows="8" cols="60" th:field="*{textareaField}" ></textarea>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>