
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:fragment="header">

    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">HPC Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/index}">Home
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="#" th:href="@{/application}">Applications</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="#" th:href="@{/benchmark}">Benchmarks</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="#" th:href="@{/cpu}">CPU</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="#" th:href="@{/result}">Result Form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/dashboard}">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script type="text/javascript"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

    </body>
</div>




